# Used locally only for "yarn install" to get our paid plan icons
export FONT_AWESOME_TOKEN=""

# Dynamsoft license key for mobile document scanner
VITE_DYNAMSOFT_LICENSE_KEY=""

# JustFix Gateway API for Lambda handling scan image upload to S3
VITE_GATEWAY_API=""

# One time command to copy Scanbot WASM files to public/wasm/
# "postinstall": "cp -R node_modules/scanbot-web-sdk/bundle/bin/document-scanner/* public/wasm/"

# Rollbar access token for error reporting
VITE_ROLLBAR_ACCESS_TOKEN=""

# JustFix's auth-provider base URL
VITE_AUTH_PROVIDER_BASE_URL="http://0.0.0.0:8080"

# OAuth client id used for OTP token exchange
VITE_RH_OAUTH_CLIENT_ID=""

# OAuth client secret for confidential clients
VITE_RH_OAUTH_CLIENT_SECRET=""
