@use "@justfixnyc/component-library/jfcl" as jfcl;

#landing-page {
  color: jfcl.$OFF_BLACK;
  background: jfcl.$OFF_WHITE_100;
}

.landing-hero {
  background: jfcl.$OFF_WHITE_200;
  border-bottom: 1px solid jfcl.$OFF_BLACK;
  padding: 2rem 1.5rem;

  h1 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.04;
    margin: 0;
  }

  p {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.2;
    margin: 1.5rem 0;
  }

  &__cta {
    box-sizing: border-box;
    display: flex !important;
    padding: 1rem 1.25rem !important;
    width: 100% !important;
  }
}

.landing-about {
  padding: 2rem 1.5rem;

  h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
  }

  > p {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.2;
    margin: 1rem 0 0;
  }

  &__card {
    background: jfcl.$OFF_WHITE_200;
    margin-top: 1.5rem;
    padding: 1.5rem;

    h3 {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2;
      margin: 0;
    }

    p {
      font-size: 1.125rem;
      font-weight: 500;
      letter-spacing: 0.03em;
      line-height: 1.2;
      margin: 0.5rem 0 0;
    }
  }

  &__link {
    align-items: center;
    color: jfcl.$OFF_BLACK;
    display: inline-flex;
    gap: 0.25rem;
    font-size: 1.125rem;
    margin-top: 1rem;
    text-decoration: underline;
  }
}
