@use "@justfixnyc/component-library/jfcl" as jfcl;

.user-edit-table {
  position: relative;
  width: 100vw;
  max-width: 100%;

  .mobile-only {
    @media screen and (min-width: 56.25rem) {
      display: none;
    }
  }

  .table-container {
    overflow-x: auto;
    width: 100%;
  }

  .add-row-divider {
    @media screen and (min-width: 56.25rem) {
      transition: background-color 0.15s;
      &:hover {
        background-color: jfcl.$BLUE_50;
      }
    }

    td {
      padding: 0.25rem 0;
      text-align: center;
    }
  }

  // Text link styled buttons
  .text-link {
    background: none;
    border: none;
    padding: 0.25rem 0.5rem;
    @include jfcl.body_standard_desktop;
    font-size: 1rem;
    color: jfcl.$BLUE;
    cursor: pointer;
    text-wrap-mode: nowrap;

    &:hover {
      text-decoration: underline;
    }

    &--delete {
      color: jfcl.$RED;
    }
  }

  table {
    font-family: sans-serif;
    border-collapse: collapse;
    background-color: jfcl.$WHITE;
    width: auto;
    min-width: 100%;
  }

  tr.table-header {
    border-bottom: 0.0625rem solid jfcl.$GREY_NEW;
  }

  th,
  td {
    text-align: left;
    padding: 0.5rem 0.625rem;
    vertical-align: middle;
  }

  // Sticky first column (Reg Year)
  th:first-child,
  td:first-child {
    position: sticky;
    left: 0;
    background-color: jfcl.$WHITE;
    z-index: 1;
  }

  // Maintain background color for even rows in sticky column
  tr:nth-child(even) td:first-child {
    background-color: jfcl.$OFF_WHITE_100;
  }

  // Maintain background color for error rows in sticky column
  tr.has-errors td:first-child {
    background-color: jfcl.$YELLOW;
  }

  th {
    @include jfcl.body_standard_desktop;
    font-weight: 600;
  }

  th:first-child {
    z-index: 2;
  }

  // Minimum width for specific columns (120px = 7.5rem)
  // Reg Year (1st), Legal Regulated Rent (4th), Prefer. Rent (5th), Actual Paid Rent (6th)
  th:nth-child(4),
  td:nth-child(4),
  th:nth-child(5),
  td:nth-child(5),
  th:nth-child(6),
  td:nth-child(6) {
    min-width: 7.5rem;
  }

  th:nth-child(1),
  td:nth-child(1) {
    min-width: 5rem;
  }

  // Year column values styling
  td:nth-child(1) {
    @include jfcl.body_standard_desktop;
  }

  tr:nth-child(even) {
    background-color: jfcl.$OFF_WHITE_100;
  }

  tr.has-errors {
    background-color: jfcl.$YELLOW;
  }

  // jfcl component overrides for table cells
  .jfcl-text-input {
    margin: 0;

    input {
      text-align: left;
      padding: 0.25rem 0.5rem;
      min-width: 5rem;
      background-color: white;
    }

    &.money-input {
      input {
        padding-left: 2rem;
        text-align: right;
      }
    }
  }

  input[type="date"] {
    height: 2.75rem;
    width: 10rem;
    text-align: left;
  }

  .jfcl-dropdown {
    min-width: 7.5rem;

    .jfcl-dropdown__control {
      height: 2.75rem;
      min-height: 2.75rem;
      background-color: white;
    }
  }

  // Style native date input to match jfcl TextInput
  input[type="date"] {
    @include jfcl.body_standard_desktop;
    color: jfcl.$OFF_BLACK;
    box-sizing: border-box;
    height: 2.75rem;
    padding: 0.625rem 0.5625rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid jfcl.$OFF_BLACK;
    background-color: white;

    &:active,
    &:focus {
      border: 0.125rem solid jfcl.$OFF_BLACK;
      padding: 0.5625rem 0.5rem;
    }

    &:disabled {
      border: 0.0625rem solid jfcl.$GREY_600;
      color: jfcl.$GREY_NEW;
      pointer-events: none;
    }
  }

  .cell-header {
    display: none;
  }

  .pagination {
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1rem;
    background-color: jfcl.$OFF_WHITE_100;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.875rem;

    .page-info {
      @include jfcl.body_standard_desktop;
      text-align: center;
      padding: 0.5rem;
    }
  }

  .pagination-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    button {
      padding: 0.75rem 1.125rem;
    }
  }

  // Hide number input spinners
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  @media screen and (max-width: 56.25rem) {
    // th {
    //   display: none;
    // }

    // .cell-header {
    //   display: block;
    //   font-weight: bold;
    //   width: 45%;
    //   flex-shrink: 0;
    //   @include jfcl.body_standard_desktop;
    // }

    // td {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    // }

    // // Make all inputs/dropdowns take consistent width
    // td .jfcl-text-input,
    // td .jfcl-dropdown,
    // td input[type="date"] {
    //   width: 55%;
    //   min-width: unset;
    //   flex-shrink: 0;
    // }

    // td .jfcl-text-input input {
    //   width: 100%;
    // }

    // tr:not(.add-row-divider) td:last-child {
    //   justify-content: flex-end;
    //   padding-top: 0.75rem;
    // }

    // .add-row-divider td {
    //   display: block;
    // }

    // .pagination {
    //   flex-direction: column;
    //   gap: 0.75rem;
    // }
  }
}
