@use "@justfixnyc/component-library/jfcl" as jfcl;

.user-edit-table {
  .mobile-only {
    @media screen and (min-width: 56.25rem) {
      display: none;
    }
  }

  .page-info {
    @include jfcl.body_standard_desktop;
    padding: 0 0.5rem 1rem;
    @media screen and (max-width: 56.25rem) {
      text-align: center;
    }
  }

  .add-row-divider {
    @media screen and (min-width: 56.25rem) {
      transition: background-color 0.15s;
      &:hover {
        background-color: jfcl.$BLUE_50;
      }
    }

    td {
      padding: 0.25rem 0;
      text-align: center;
    }
  }

  // Text link styled buttons
  .text-link {
    background: none;
    border: none;
    padding: 0.25rem 0.5rem;
    @include jfcl.body_standard_desktop;
    font-size: 1rem;
    color: jfcl.$BLUE;
    cursor: pointer;
    text-wrap-mode: nowrap;

    &:hover {
      text-decoration: underline;
    }

    &--delete {
      color: jfcl.$RED;
    }
  }

  table {
    font-family: sans-serif;
    border-collapse: collapse;
    border: 0.0625rem solid jfcl.$GREY_NEW;
    background-color: jfcl.$WHITE;
    width: 100%;
  }

  tr.table-header {
    border-bottom: 0.0625rem solid jfcl.$GREY_NEW;
  }

  th,
  td {
    text-align: left;
    padding: 0.5rem 0.625rem;
    vertical-align: middle;
  }

  td {
    height: 2.75rem;
  }

  th {
    @include jfcl.body_standard_desktop;
    font-weight: 600;
  }

  // Year column styling
  td:nth-child(1) {
    @include jfcl.body_standard_desktop;
  }

  tr:nth-child(even) {
    background-color: jfcl.$OFF_WHITE_100;
  }

  tr.has-errors {
    background-color: #fbeccd;
  }

  // jfcl component overrides for table cells
  .jfcl-text-input {
    margin: 0;

    input {
      text-align: left;
      padding: 0.25rem 0.5rem;
      min-width: 5rem;
      background-color: white;

      &:disabled {
        border-color: jfcl.$GREY_400;
        background-color: jfcl.$GREY_50;
        color: jfcl.$GREY_600;
        cursor: not-allowed;
      }
    }

    &.money-input {
      input {
        padding-left: 2rem;
      }
    }
  }

  .jfcl-dropdown {
    min-width: 7.5rem;

    .jfcl-dropdown__control {
      min-height: 2rem;
      background-color: white;
    }

    // Disabled dropdown styles
    &.jfcl-dropdown--is-disabled {
      .jfcl-dropdown__control {
        border-color: jfcl.$GREY_400;
        background-color: jfcl.$GREY_50;
        cursor: not-allowed;
      }

      .jfcl-dropdown__single-value {
        color: jfcl.$GREY_600;
      }
    }
  }
  // pseudo element for mobile date input alignment
  input[type="date"]::-webkit-date-and-time-value {
    text-align: left;
  }

  // TODO Add styled date input to JFCL
  input[type="date"] {
    @include jfcl.body_standard_desktop;
    color: jfcl.$OFF_BLACK;
    box-sizing: border-box;
    height: 2.75rem;
    width: inherit;
    padding: 0.625rem 0.5625rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid jfcl.$OFF_BLACK;
    background-color: white;

    &:active,
    &:focus {
      border: 0.125rem solid jfcl.$OFF_BLACK;
      padding: 0.5625rem 0.5rem;
    }

    &:disabled {
      border-color: jfcl.$GREY_400;
      background-color: jfcl.$GREY_50;
      color: jfcl.$GREY_600;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  .cell-header {
    display: none;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1rem;
    background-color: jfcl.$OFF_WHITE_100;
    width: 100%;
    box-sizing: border-box;
    border: 0.0625rem solid jfcl.$GREY_NEW;
    border-top: none;
    font-family: sans-serif;
    font-size: 0.875rem;

    .page-info {
      @include jfcl.body_standard_desktop;
      text-align: center;
      padding: 0.5rem;
    }
  }

  .pagination-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    button {
      padding: 0.75rem 1.125rem;
    }
  }

  // Hide number input spinners
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  @media screen and (max-width: 56.25rem) {
    th {
      display: none;
    }

    .cell-header {
      display: block;
      font-weight: bold;
      width: 45%;
      flex-shrink: 0;
      @include jfcl.body_standard_desktop;
    }

    td {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    // Year column - left align the text
    td:first-child {
      justify-content: flex-start;
    }

    // Make all inputs/dropdowns take consistent width
    td .jfcl-text-input,
    td .jfcl-dropdown,
    td .jfcl-date-input {
      display: flex;
      width: 55%;
      min-width: unset;
      flex-shrink: 0;
      height: 100%;
    }
    td .jfcl-date-input input {
      flex-grow: 1;
    }

    td .jfcl-dropdown .jfcl-dropdown__control {
      flex-grow: 1;
    }

    td .jfcl-text-input .jfcl-text-input__wrapper {
      flex-grow: 1;
    }

    tr:not(.add-row-divider) td:last-child {
      justify-content: flex-end;
      padding-top: 0.75rem;
    }

    .add-row-divider td {
      display: block;
    }

    .pagination {
      flex-direction: column;
      gap: 0.75rem;
    }
  }
}
