@use "@justfixnyc/component-library/jfcl" as jfcl;

#confirm-address-page {
  background: jfcl.$OFF_WHITE_100;
  color: jfcl.$OFF_BLACK;
  min-height: 100vh;
}

.confirm-address {
  min-height: 648px;
  padding: jfcl.$JF_SPACING_07 jfcl.$JF_SPACING_06;

  &__card {
    background: jfcl.$WHITE;
    border: 1px solid jfcl.$GREY_200;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: jfcl.$JF_SPACING_06;
    margin-bottom: jfcl.$JF_SPACING_06;
    padding: jfcl.$JF_SPACING_06;

    &--preview {
      background: transparent;
      border: 0;
      border-radius: 0;
      padding: 0;
    }

    h2 {
      @include jfcl.body_large_desktop;
      margin: 0;
    }

    p {
      @include jfcl.body_standard_mobile;
      margin: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: jfcl.$JF_SPACING_06;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    gap: jfcl.$JF_SPACING_03;
  }

  &__field {
    width: 100%;
  }

  &__geosearch {
    width: 100%;
  }

  &__map-preview {
    background-color: jfcl.$WHITE;
    border: 1px solid jfcl.$GREY_200;
    border-radius: 4px;
    display: flex;
    gap: jfcl.$JF_SPACING_09;
    overflow: hidden;

    @media (max-width: 900px) {
      flex-direction: column;
      gap: jfcl.$JF_SPACING_05;
    }
  }

  &__map-image {
    background-color: jfcl.$GREY_200;
    flex: 0 0 425px;
    height: 285px;

    img {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    @media (max-width: 900px) {
      flex: none;
      width: 100%;
    }
  }

  &__map-placeholder {
    align-items: center;
    background: jfcl.$OFF_WHITE_200;
    color: jfcl.$GREY_400;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    letter-spacing: 0.03em;
  }

  &__address {
    align-self: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: jfcl.$JF_SPACING_03;
    margin-right: jfcl.$JF_SPACING_09;
    padding: jfcl.$JF_SPACING_05 0;

    @media (max-width: 900px) {
      margin-right: 0;
      padding: 0 jfcl.$JF_SPACING_05 jfcl.$JF_SPACING_05;
    }
  }

  &__address-street {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1.1;
    margin: 0;

    @media (max-width: 900px) {
      font-size: 2rem;
    }
  }

  &__address-detail {
    @include jfcl.body_large_desktop;
  }

  &__error {
    color: jfcl.$RED;
    margin: 0;
  }
}
