@use "@justfixnyc/component-library/jfcl" as jfcl;

#rent-questions-page {
  background: jfcl.$OFF_WHITE_100;
  color: jfcl.$OFF_BLACK;
  min-height: 100vh;
}

.rent-questions {
  min-height: 648px;
  padding: jfcl.$JF_SPACING_07 jfcl.$JF_SPACING_06;

  &__card {
    background: jfcl.$WHITE;
    border: 1px solid jfcl.$GREY_200;
    border-radius: 4px;
    margin-bottom: jfcl.$JF_SPACING_06;
    padding: jfcl.$JF_SPACING_06;

    h2 {
      @include jfcl.body_large_desktop;
      margin: 0;
    }

    p {
      @include jfcl.body_standard_mobile;
      margin: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: jfcl.$JF_SPACING_03;
  }

  &__error {
    color: jfcl.$RED;
    margin: 0;
  }
}
