#scanner-page {
  ul {
    padding-left: 1rem;
    li:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }
  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
