@use "@justfixnyc/component-library/jfcl" as jfcl;
@use "../PageLayout/layoutVars" as layout;

.request-form {
  display: flex;
  flex-direction: column;
  gap: jfcl.$JF_SPACING_05;
  width: 100%;

  &__card {
    align-items: center;
    background: jfcl.$WHITE;
    border: 1px solid jfcl.$GREY_200;
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    width: 100%;

    @include layout.desktop {
      gap: 1.5rem;
    }
  }

  &__fields {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .jfcl-text-input {
      margin-bottom: 0;
      .jfcl-input-header__label {
        margin-bottom: 0.25rem;
      }
    }

    @include layout.desktop {
      gap: 1.5rem;
    }
  }

  &__unit-field {
    display: flex;
    flex-direction: column;
    gap: jfcl.$JF_SPACING_03;
  }

  .request-form__geosearch .jfcl-dropdown__control {
    height: 44px;
    border: 1px solid jfcl.$OFF_BLACK;
  }

  &__field--submitted {
    .jfcl-text-input__input {
      background: jfcl.$GREY_50;
      border-color: jfcl.$GREY_400;
    }
  }

  &__error {
    @include jfcl.body_standard_mobile;
    align-self: stretch;
    color: jfcl.$RED;
    margin: 0;
  }

  &__submit.jfcl-button {
    align-self: stretch;
    width: 100%;

    &--success.jfcl-button {
      background: jfcl.$OFF_WHITE_100;
      border: 1px solid jfcl.$OFF_WHITE_200;
      color: jfcl.$OFF_BLACK;
    }
  }

  &__success {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: jfcl.$JF_SPACING_04;

    @include layout.desktop {
      gap: jfcl.$JF_SPACING_05;
    }
  }

  &__submit-another {
    align-self: flex-start;
  }
}
